<div class="row">
  <div class="col-6 offset-3">
    <h1 class="margin-bottom-50">Upload an Image</h1>

    <%= simple_form_for @image do |f| %>
      <%= f.input :url, :as => :string %>
      <%= f.input :title, :as => :string %>
      <%= f.input :tag_list, :as => :string %>
      <%= f.button :submit, 'Upload Image', class: 'btn-primary btn-lg' %>
    <% end %>
  </div>
</div>
