<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<h1 id="image-title">
  <%= @image.title %>
</h1>

<img src="<%= @image.url %>" alt="<%= @image.title %>" />

<br>

<% if @image.tag_list %>
  <ul class="tag-list">
    <% @image.tag_list.each do |tag| %>
      <li>
        <%= link_to tag.to_s, images_path(tag: tag) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', images_path %>
