<div class="exhibit">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <% if flash[:notice] %>
          <div class="notice alert alert-success"><%= flash[:notice] %></div>
      <% end %>


      <h1 class="exhibit__title">
        <%= @image.title %>
      </h1>

      <img src="<%= @image.url %>" alt="<%= @image.title %>" class="img-fluid"/>

      <div class="exhibit__tag-container">
        <% if @image.tag_list %>
            <% @image.tag_list.each do |tag| %>
                <%= link_to tag.to_s, images_path(tag: tag), class: 'btn btn-outline-success exhibit__tag' %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
